---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Redirecting...</title>
  <!-- Meta Refresh -->
  <meta http-equiv="refresh" content="0; url=/404.html">
</head>
<body>
  <!-- JavaScript Redirect -->
  <script type="text/javascript">
      window.location.href = "/404.html";
  </script>
</body>

<!-- 
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %} -->
